Cython
numpy
pandas
scipy
perturb-tools>=0.2.5
matplotlib
seaborn
tqdm
bio
liftover
openpyxl>=3.0.10
papermill>=2.4.0
pyBigWig>=0.3.18
pyro-ppl==1.8.1
scikit-learn
statsmodels>=0.12.1
ipykernel
pytest-order
nbconvert