name: "Sphinx: Render docs"

on: 
  push:
    branches:
      -main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install Sphinx & Dependencies
      run: |
        pip install sphinx sphinx_markdown_builder sphinx_rtd_theme sphinx-argparse m2r pandas bio
        sudo apt-get install python3-distutils
    - name: Build Documentation
      working-directory: docs
      run: sphinx-build . _build
    - name: copy image files
      run: cp -r docs/assets docs/_build/
    - uses: actions/upload-pages-artifact@v3
      with:
        name: github-pages
        path: docs/_build/

  deploy:
    needs: build
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4