name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  deploy:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    environment: 
      name: pypi
      url: https://pypi.org/p/crispr-bean
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@main
    - name: Set up Python 3.x
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install pypa/setuptools
      run: >-
        python -m
        pip install wheel numpy setuptools Cython auditwheel twine
    - name: Extract tag name
      id: tag
      run: echo ::set-output name=TAG_NAME::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Build
      run: |
        python setup.py sdist bdist_wheel
        auditwheel repair dist/crispr_bean-${{ steps.tag.outputs.TAG_NAME }}-cp*-cp*-linux_x86_64.whl --plat manylinux_2_24_x86_64
        mv wheelhouse/* dist
        rm dist/*-cp*-cp*-linux_x86_64.whl
    - name: Test build
      run: |
        pip install dist/*.whl
        pytest
    - name: Publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run:
        twine upload dist/*